<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RDNAPTRANS2018.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <RDNAPTRANS2018.Properties.Settings>
            <setting name="FrmWidth" serializeAs="String">
                <value>577</value>
            </setting>
            <setting name="FrmHeight" serializeAs="String">
                <value>666</value>
            </setting>
            <setting name="rdcorr2018" serializeAs="String">
                <value>C:\Werk\RDNAPTRANS\rdcorr2018.txt</value>
            </setting>
            <setting name="nlgeo2018" serializeAs="String">
                <value>C:\Werk\RDNAPTRANS\nlgeo2018.txt</value>
            </setting>
            <setting name="Z001_ETRS89andRDNAP" serializeAs="String">
                <value>C:\Werk\RDNAPTRANS\Z001_ETRS89andRDNAP.txt</value>
            </setting>
            <setting name="Z002_ETRS89" serializeAs="String">
                <value>C:\Werk\RDNAPTRANS\002_ETRS89.txt</value>
            </setting>
            <setting name="Z002_RDNAP" serializeAs="String">
                <value>C:\Werk\RDNAPTRANS\002_RDNAP.txt</value>
            </setting>
            <setting name="RDx" serializeAs="String">
                <value>155000</value>
            </setting>
            <setting name="RDy" serializeAs="String">
                <value>463000</value>
            </setting>
            <setting name="NAPh" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ETRSlat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ETRSlon" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ETRSh" serializeAs="String">
                <value>0</value>
            </setting>
        </RDNAPTRANS2018.Properties.Settings>
    </userSettings>
</configuration>
